{namespace glpairs=Loss\Glpairs\ViewHelpers}
<f:layout name="Default" />

This template can be used for all modes.
If there is a split mode, then we use the lower part in addition, otherwise we use only the upper part.
There are two types of cards available. Textcards and imagecards. For textcards we use the partial tableText
and for imagecards we use the partial tableImage.

<f:section name="main">

<!-- The container for the pairs game with ID {pairsGame.uid} and in the content element with ID {glpairs:uid()} -->
<div id="{glpairs:uid()}_{pairsGame.uid}_glpairs_container">

	<div id="{glpairs:uid()}_{pairsGame.uid}_glpairs_main_upper" class="glpairs_cls_main_sub_frame" >
	    <table id="{glpairs:uid()}_{pairsGame.uid}_glpairs_content_upper" class="glpairs_cls_content_container">
	    	
	    	<f:comment> {upperPairs -> f:debug(title: 'Members of upperPairs')} </f:comment> 
	    	<f:comment> {pairsGame -> f:debug(title: 'Members of pairsGame')} </f:comment>
	    	
	    	<f:comment> go through every row in upperPairs </f:comment>
	    	<f:for each="{upperPairs}" as="upperRow">
	    	 
		    	<f:comment> {imageRow -> f:debug(title: 'Members of imageRow')}</f:comment> 
	
		        <tr class="glpairs_cls_content_container">
		        	
	    			<f:comment> go through every pair in the table row </f:comment>
		        	<f:for each="{upperRow}" as="upperPair">
		        		<f:comment> call the partial for this pair </f:comment>
		        		<f:render partial="{upperPair.DefaultPartial}" arguments="{pair: upperPair, pairs: pairsGame, level: 'upper'}" />
		        	</f:for>
		
		        </tr>
		    </f:for>
	    </table>
	</div>
	
	<f:comment> only if we are in splitmode we have a lowerPairs object </f:comment>
	<f:if condition="{pairsGame.splitmode}"> 
	
		<div id="{glpairs:uid()}_{pairsGame.uid}_glpairs_separator_middle" class="glpairs_cls_separator_middle">
		  <!-- one line in the middle -->
		</div>
		<div id="{glpairs:uid()}_{pairsGame.uid}_glpairs_main_lower"  class="glpairs_cls_main_sub_frame">
		
		    <table id="{glpairs:uid()}_{pairsGame.uid}_glpairs_content_lower" class="glpairs_cls_content_container">
		
		    	<f:comment> go through every row in lowerPairs </f:comment>
		    	<f:for each="{lowerPairs}" as="lowerRow"> 
		    
			        <tr class="glpairs_cls_content_container">
				    	<f:for each="{lowerRow}" as="lowerPair">
			        		<f:render partial="{lowerPair.DefaultPartial}" arguments="{pair: lowerPair, pairs: pairsGame, level: 'lower'}" />
						</f:for>
			        </tr>
			    </f:for>
		    </table>
		
		</div>
	</f:if>
	
	<!-- The result area -->
	<div id="{glpairs:uid()}_{pairsGame.uid}_glpairs_main_score" border: 1px;">
	    <table class="glpairs_cls_result">
	        <tr>
	            <td class="glpairs_cls_result">
	                <div id="{glpairs:uid()}_{pairsGame.uid}_glpairs_label_points"><f:translate key="fluid_list_points" /></div>
	            </td>
	            <td class="glpairs_cls_result">
	                <div id="{glpairs:uid()}_{pairsGame.uid}_glpairs_result">0</div>
	            </td>
	        </tr>
	   </table>
	</div>
	
	<!-- The card stack of all correct guessed cards -->
    <div id="{glpairs:uid()}_{pairsGame.uid}_glpairs_card_stack" class="glpairs_cls_card_stack" 
    	 style="height:{pairsGame.MaxPairHeight}px; width: {pairsGame.MaxPairWidth}px;">
    </div>
	
</div>
</f:section>