{namespace glpairs=Loss\Glpairs\ViewHelpers}

<f:comment> {pair -> f:debug(title: 'Members of pair')} </f:comment>
<f:comment> {pairs -> f:debug(title: 'Members of pairs')} </f:comment>


<td id="{glpairs:uid()}_{pairs.uid}_{pair.defaultExternalID}_{level}_td_card"  class="glpairs_cls_content_common"
>

    <div id="{glpairs:uid()}_{pairs.uid}_{pair.defaultExternalID}_{level}_overall_card" class="glpairs_cls_click_content"
		 style=" {f:if(condition: pair.defaultHeight, then: pair.defaultHeightTxt)}
		    	 {f:if(condition: pair.defaultWidth,  then: pair.defaultWidthTxt)}"    
    >

		<!-- the back card of card "{pair.name}" with external ID1 {pair.intExternalId1} -->
    	<div id="{glpairs:uid()}_{pairs.uid}_{pair.defaultExternalID}_{level}_div_card_back" class="glpairs_cls_card_common glpairs_cls_card_visible" 
    		 style="background-image:url({pair.defaultBackImage})"> 
	    	<img src="{pair.defaultBackImage}"  class="glpairs_cls_card_back" id="{glpairs:uid()}_{pairs.uid}_{pair.defaultExternalID}_{level}_img_back"
		    	style=" {f:if(condition: pair.defaultHeight, then: pair.defaultHeightTxt)}
			    		{f:if(condition: pair.defaultWidth,  then: pair.defaultWidthTxt)}"
		   	 />
		</div>

		<!-- the front card of card "{pair.name}" with external ID1 {pair.defaultExternalID} -->
           <div id="{glpairs:uid()}_{pairs.uid}_{pair.defaultExternalID}_{level}_div_card_front" 
           	 class="glpairs_cls_card_common glpairs_cls_card_invisible" style="opacity: 0.0; visibility: hidden;"> 
               <img src="{pair.defaultImage}" class="glpairs_cls_card_border"
               	 id="{glpairs:uid()}_{pairs.uid}_{pair.defaultExternalID}_{level}_front_card" 
               	 style=" {f:if(condition: pair.defaultHeight, then: pair.defaultHeightTxt)}
			    		 {f:if(condition: pair.defaultWidth,  then: pair.defaultWidthTxt)}
			    		 border-width: {pairs.Bordersize}px;"
			/>
           </div> 
    </div>
</td>
