services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
    
  Loss\Glpairs\:
    resource: '../Classes/*'
    exclude: '../Classes/Domain/Model/*'

  Loss\Glpairs\Middleware\GlpairsMiddleware:
    public: true
      